/* <head> */
body{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
a{
    color: inherit;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    width: fit-content;
}
h4{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: fit-content;

}
h3{
    font-size: 1.5rem;
    text-transform: uppercase; 
    width: fit-content;
} 
/* </head> */
/* <body> */
/* <header> */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 20vh;
    background-color: rgb(255, 152, 104);
}
/* </header> */
/* <main> */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: rgb(252, 246, 193);
}
.content{
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 1rem;
}
#data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 300px;
    padding: 1rem 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(126, 125, 125, 0.521);
}
#data *{
    padding: 5px;
}
#data button{
    margin: auto;    
}
/* </main> */
/* <footer> */
footer{
    min-height: 20vh;
    background-color: rgb(174, 255, 248);
}
/* </footer> */
/* </body> */
